<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.18, https://mobirise.com -->
  <link rel="stylesheet" type="text/css" href="history.component.css"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">

  <title>My History</title>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>

</head>
<body>

<section data-bs-version="5.1" class="article8 cid-uidkueWbtX" id="article08-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">

        <div class="card-wrapper">
          <div class="image-wrapper d-flex justify-content-center mb-5">
            <img [src]=profileImg alt="my_path">
          </div>
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-3">
              <strong>A path marked with determination</strong></h3>
            <p class="quote">"Man cannot discover new oceans unless he has the courage to lose sight of the shore." – André Gide</p>
            <p></p>
            <div class="row card-box align-left">

              <div class="item features-without-image col-12 active">
                <div class="item-wrapper">
                  <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Original country</strong></h4>
                  <p class="mbr-text mbr-fonts-style display-10">
                    I come from Brazil, a country renowned for its vibrant and friendly people.
                    What I always carry with me is the warmth of my Brazilian roots and a ready smile.
                  </p>
                </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                  <h4 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Coming to Portugal</strong></h4>
                  <p class="mbr-text mbr-fonts-style display-10">
                    It’s hard to leave your own country, but I’ve always been determined to grow and experience other cultures.
                    When I first arrived here, there were many challenges along the way. But that only made my determination stronger.
                  </p>
                </div>
              </div><div class="item features-without-image col-12">
              <div class="item-wrapper">
                <h4 class="mbr-section-subtitle mbr-fonts-style display-7">
                  <strong>Changing careers</strong></h4>
                <p class="mbr-text mbr-fonts-style display-10">
                  I may not have mentioned it before, but I hold a Bachelor's degree in Civil Engineering, a choice I made in the past.
                  However, leveraging my problem-solving skills and quick learning abilities, I decided to pivot into Software Engineering.
                  So far, this has proven to be an excellent decision, as it aligns perfectly with my personality and skill set.
              </div>
            </div>
            </div>
          </div>
        </div>
        <p></p>
        <a href="#" routerLink="/education" class="badge badge-dark">-> Go my Education & Training</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
