<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.18, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">

  <title>My History</title>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>

</head>
<body>

<section data-bs-version="5.1" class="article8 cid-uidkueWbtX" id="article08-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">

        <div class="card-wrapper">
          <div class="image-wrapper d-flex justify-content-center mb-5">
            <img src="assets/customFiles/path.jpg" alt="my_path">
          </div>
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-3">
              <strong>A path marked with determination</strong></h3>
            <div class="row card-box align-left">

              <div class="item features-without-image col-12 active">
                <div class="item-wrapper">
                  <h4 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Original country</strong></h4>
                  <p class="mbr-text mbr-fonts-style display-10">
                    I come from Brazil, a country with the most warming persons in the world. This is what a I always bring with me: a warming heart and a smile.</p>
                </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                  <h4 class="mbr-section-subtitle mbr-fonts-style display-7"><strong>Coming to Portugal</strong></h4>
                  <p class="mbr-text mbr-fonts-style display-10">It is hard to leave your own country, but I always had the determination to grown and be part of different cultures. As I landed here, many challenges came in the way. But that only made my determination even stronger.</p>
                </div>
              </div><div class="item features-without-image col-12">
              <div class="item-wrapper">
                <h4 class="mbr-section-subtitle mbr-fonts-style display-7">
                  <strong>Changing careers</strong></h4>
                <p class="mbr-text mbr-fonts-style display-10">
                  Not sure if I told you before but I have a Bachelor's degree in Civil Engineering, which is what made sense in my early decisions. But let me ask you this: if you buy a house, should you live there indefinitely?&nbsp;
                  <br>Together with my solving-problem skills and the ability to learn fast, I took the decision to invest in the Software Engineering. So far it was the best decision, It is really the best match for my personality and skills.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        <p></p>
        <a href="#" routerLink="/history" class="badge badge-dark">-> Go my Education & Training</a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
