@import "./assets/bootstrap/css/bootstrap.min.css";
@import "./assets/bootstrap/css/bootstrap-grid.min.css";
@import "./assets/bootstrap/css/bootstrap-reboot.min.css";
@import "./assets/theme/css/style.css";
@import "./assets/mobirise/css/mbr-additional.css";

.image-wrapper {
  position: relative;
  /*display: block;*/
  /*margin-left: auto;*/
  /*align-content: space-evenly;*/
  margin-right: 0;
  width: 120%;
}
.badge badge-light {
  position: relative;
}
.item-wrapper {
  position: relative;
}
