<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="en" content="open source html and css template">
  <meta name="author" content="mlp design">
  <meta name="robots" content="index, follow">
</head>

<body>
<div id="menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
<!--        <ul class="nav">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" href="#">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Profile</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" href="#">Messages</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown ml-md-auto">-->
<!--            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>-->
<!--            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
<!--              <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>-->
<!--              <div class="dropdown-divider">-->
<!--              </div> <a class="dropdown-item" href="#">Separated link</a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
        <nav>
          <input type="checkbox" id="show-menu" role="button">
          <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
          <label for="show-menu" class="close"><span class="fa fa-times"></span></label>
          <ul id="topnav">
            <li><a routerLink="/intro">Intro</a></li>
            <li><a routerLink="/history">My history</a></li>
            <li><a href="#">Education & Training</a></li>
            <li><a href="#">Experience</a></li>
            <li><a href="#">Projects</a></li>
            <li>
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

</div>
<div id="container">
  <div id="pageheader">
    <h1>About me</h1>
<!--    <p>You can call me João Renault!</p>-->
  </div>

  <router-outlet></router-outlet>

  <!-- footer items go here
  <div class="section">
  <div id="footer">

  </div>
  </div>
  -->
  <div class="row">
    <div class="col-md-12">

  <div class="section">
    <div id="credits">
      <div class="col"><p>By João Renault</p></div>
      <div class="col"><p> <a href="https://github.com/jucron" target="_blank">Portfolio</a> | <a href="https://www.linkedin.com/in/joaoengc/" target="_blank">Linkedin</a></p></div>

    </div>
  </div>

</div>
  </div>
</div>
</body>
</html>
