<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Description" lang="en" content="open source html and css template">
  <meta name="author" content="mlp design">
  <meta name="robots" content="index, follow">
<!--  <link rel="stylesheet" href="styles.css">-->
<!--  <link rel="stylesheet" href="slidy.css">-->
</head>
<body>
<div id="menu">
  <nav>
    <input type="checkbox" id="show-menu" role="button">
    <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
    <label for="show-menu" class="close"><span class="fa fa-times"></span></label>
    <ul id="topnav">
      <li><a routerLink="/intro">Intro</a></li>
      <li><a routerLink="/history">My history</a></li>
      <li><a href="#">Education & Training</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Projects</a></li>
      <li>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div id="container">
  <div id="pageheader">
    <h1>About me</h1>
<!--    <p>You can call me João Renault!</p>-->
  </div>

  <router-outlet></router-outlet>

  <!-- footer items go here
  <div class="section">
  <div id="footer">

  </div>
  </div>
  -->

  <div class="section">
    <div id="credits">
      <div class="col"><p>By João Renault</p></div>
      <div class="col"><p> <a href="https://github.com/jucron" target="_blank">Portfolio</a> | <a href="https://www.linkedin.com/in/joaoengc/" target="_blank">Linkedin</a></p></div>

    </div>
  </div>

</div>
</body>
</html>
